/* Hover Effects */
@media screen and (min-width: 995px) {
  .home-card:hover {
    color: #61b38f;
    transition: color 0.3s ease-in-out;    
  }
}

@media screen and (max-width: 995px){
  .home-card{
    color: #61b38f;
  }
}